<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'patient\Appointmentdetail.css' %}">
    <title>Document</title>
</head>
<body>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> MEDICare </a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#services">services</a>
            <a href="#about">about</a>
            <a href="#doctors">doctors</a>
            <a href="#booking">booking</a>
            <a href="#reviews">reviews</a>
            <a href="#blogs">blogs</a>
            <a href="register">register</a>
            <a href="dashboard">dashboard</a>
            <a href="dashboardpatient">dashboardpatient</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </header>

    <section class="home" id="home">

        
    
        <div class="content">
            <h1>Appointment Details</h1>
            <p>Doctor's Name: alksdjfsaklfj,msad faskfjsalkjf askfj</p>
            <p>Date of Appointment: Know Safety, No Pain.</p>
            <p>Reason of visit: Know Safety, No Pain.</p>
            <p>Patient's name: Know Safety, No Pain.</p>
            <p>Patient's Age: Know Safety, No Pain.</p>
            <p>Patient's Gender: Know Safety, No Pain.</p>
            <p>Patient's Gender: Know Safety, No Pain.</p>
            <p>For enqury contact us at: +91 2342342342</p>
            <a href="#" class="btn"> Cancel Appointment <span class="fas fa-chevron-right"></span></a>
        </div>
    
    </section>


    <script src="{% static 'patient\Appointmentdetail.js' %}"></script>
</body>
</html>